*{
    background-color: black !important;
    color: white !important;
}

.dropDownMenu{
    background-color: rgb(21, 24, 28) !important;
}

.txtArea{
    border: transparent;
    resize: none;
}

.sendBtn{
    background-color: rgba(29,161,242,1.00) !important;
    border: none !important;
    color: white !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    cursor: pointer !important;
    border-radius: 30px;
    margin-top: 5px;
    font-weight: 900 !important;
}